caption {
  caption-side: bottom;
}

table {
  border: 1px dashed #000;
  /* border-spacing: 30px 30px; */
  border-collapse: collapse;
}

td, th {
  border: 2px double #000;;
}

/* 표준 테이블 속성 */
/* table, td, th {
  border: 1px solid #000;
  border-collapse: collapse;
} */